<div class="box">

    <span>How is our service? </span>

    <!-- <button (click)="reportVeryGood()">Very Good</button>
    <button (click)="reportMedium()">Medium</button>
    <button (click)="reportPoor()">Poor</button> -->
    report box:
    Choose a color and the box on the right will color:
    <button (click)="sendResult('red')">red</button>
    <button (click)="sendResult('green')">green</button>
    <button (click)="sendResult('blue')">blue</button>
    <button (click)="sendResult('yellow')">yellow</button>


</div>