<p>הנעליים שלנו</p>
<img  class="" width="300px" height="300px" src="../../../../assets/shoesImage/shoes1.png"/>
<img  class="" width="300px" height="300px" src="../../../../assets/shoesImage/shoes2.png"/>
<img  class="" width="300px" height="300px" src="../../../../assets/shoesImage/shoes3.png"/>
<br />
<img  class="" width="300px" height="300px" src="../../../../assets/shoesImage/shoes4.png"/>
<img  class="" width="300px" height="300px" src="../../../../assets/shoesImage/shoes5.png"/>
<img  class="" width="300px" height="300px" src="../../../../assets/shoesImage/shoes6.png"/>
