<div class="box">

    <form (ngSubmit)="add()" #formInfo="ngForm">

        <h2>Add Employees</h2>

        <label>firstName: </label>
        <input type="text" name="firstName" [(ngModel)]="employees.firstName" required minlength="3" #firstNameBox="ngModel">
        <span *ngIf="firstNameBox.touched && firstNameBox.errors?.['required']">Missing firstName</span>
        <span *ngIf="firstNameBox.touched && firstNameBox.errors?.['minlength']">firstName too short</span>

        <label>lastName: </label>
        <input type="text" name="lastName" [(ngModel)]="employees.lastName" required minlength="3" #lastNameBox="ngModel">
        <span *ngIf="lastNameBox.touched && lastNameBox.errors?.['required']">Missing lastName</span>
        <span *ngIf="lastNameBox.touched && lastNameBox.errors?.['minlength']">lastName too short</span>

        <label>title: </label>
        <input type="text" name="title" [(ngModel)]="employees.title" required minlength="3" #titleBox="ngModel">
        <span *ngIf="titleBox.touched && titleBox.errors?.['required']">Missing title</span>
        <span *ngIf="titleBox.touched && titleBox.errors?.['minlength']">title too short</span>

        <label>country: </label>
        <input type="text" name="country" [(ngModel)]="employees.country" required minlength="3" #countryBox="ngModel">
        <span *ngIf="countryBox.touched && countryBox.errors?.['required']">Missing country</span>
        <span *ngIf="countryBox.touched && countryBox.errors?.['minlength']">country too short</span>

        <label>city: </label>
        <input type="text" name="city" [(ngModel)]="employees.city" required minlength="3" #cityBox="ngModel">
        <span *ngIf="cityBox.touched && cityBox.errors?.['required']">Missing city</span>
        <span *ngIf="cityBox.touched && cityBox.errors?.['minlength']">title too city</span>

        <label>birthDate: </label>
        <input type="text" name="birthDate" [(ngModel)]="employees.birthDate" required minlength="3" #birthDateBox="ngModel">
        <span *ngIf="birthDateBox.touched && birthDateBox.errors?.['required']">Missing birthDate</span>
        <span *ngIf="birthDateBox.touched && birthDateBox.errors?.['minlength']">birthDate too short</span>

        <label>Image: </label>
        <input type="file" name="image" #imageBox>

        <button [disabled]="formInfo.invalid">Add</button>

    </form>

</div>
