<!--אלה הקומפוננטות אשר יוצגו בעת זימון הקומפוננטה home-->
<app-drink-time></app-drink-time>
<app-youtube></app-youtube>
<app-num-of-shoes></app-num-of-shoes>
<app-discount></app-discount>
<app-brands></app-brands>
<app-opinion></app-opinion>
<app-deals productName="nike air 1" [price] = "299"></app-deals>
<app-survey (report)="displaySurveyResult($event)"></app-survey>
<div class="box" [ngStyle]="{backgroundColor: theColor}">
    The box to color
    </div>
    <app-about></app-about>
<app-vatCalculator></app-vatCalculator>
<app-show-generator-num></app-show-generator-num>
<app-cradit-card-check></app-cradit-card-check>
<opinion-on-us-check></opinion-on-us-check>